#clock {

    font-size: 160px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 10px solid rgb(243, 3, 147);
    border-radius: 20px;
    background-color: rgba(115, 10, 191, 0.756);
    background: black;
    color: rgb(247, 8, 8);
    
   
    

    

  }